/* css reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}

.indexCo li:last-child{
  display: block;
}


.img-background {
  background-image: linear-gradient(to bottom, transparent, black), url("../images/Frankestein.PNG");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  background-size:cover;
  margin-top: 20px;
}

.img-background span {
  font-size: 14px;
  color: rgb(250, 245, 236);
  padding: 3%;
}

.author-span {
  color: rgb(250, 245, 236);
  text-decoration: none;
}

.author-span:hover {
  color: white;
}

.text-bold {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.text-bold:hover {
  text-decoration: underline;
}

.img-background span {
  padding-top: 50%;
  display: block;
  color: white;
}

.text-thumbnail {
  display: flex;
  align-items: center;
  background: rgba(255, 68, 34, 0.08);
}

.text-thumbnail a:nth-child(1) {
  padding: 20px;
  font-weight: bold;
}

.title a {
  text-decoration: none;
  font-size: 2em;
  color: #ff4422;
  font-weight: 700;
}

.text-thumbnail a {
  color: #ff4422;
  text-decoration: none;
}

.thumbnail {
  width: 97px;
  height: 97px;
  padding-left: 10px;
}

.main-a-list li > a {
  text-decoration: none;
  color: #555555;
  font-size: 1em;
}

.main-a-list li > a:hover {
  color: black;
}

.main-a-list li {
  margin: 10px auto;
  border-bottom: 1px solid #aaaaaa;
  line-height: 1em;
  padding-bottom: 10px;
}

.main-a-list {
  list-style: none;
}

.main-a-list li::before {
  content: "\2022";
  color: #ff4422;
  display: inline-block;
  width: 1em;
  margin-left: 0;
}
  /* DESKTOP MEDIA QUERIE */

@media screen and (min-device-width: 767px) and (max-device-width: 2000px) {
main {
  display: flex;
  flex-direction: column;
  padding: 0 4em;
}



.black-navbar {
  height: 32px;
  background-color: #131313;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.black-navbar li {
  display: inline;
  margin-left: 12px;
}

.black-navbar li a {
  color: rgb(255, 255, 255, 0.6);
  font-size: 13px;
}

.white-navbar {
  height: 48px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  white-space: nowrap;
}

.white-navbar li {
  display: inline;
}

.white-navbar li a {
  color: #aaa;
  font-size: 14px;
  padding-left: 12px;
}

.transform {
  display: flex;
  align-items: center;
  border-left: 1px solid rgba(80, 80, 80, 0.1);
  height: 100%;
  width: fit-content;
  justify-content: flex-end;
}

.transform i {
  color: rgba(80, 80, 80, 0.3);
  transform: scaleX(-1);
  font-size: 16px;
  margin-right: 20px;
}


.transform li:nth-child(3) {
  color: #555555;
  font-size: 12px;
}

.transform li:nth-child(4) a {
  color: #f42;
  font-size: 20px;
}

.transform li:nth-child(5) a {
  background-color: #00cccc;
  border-radius: 2px;
  line-height: 28px;
  padding: 8px 12px;
  font-size: 11px;
  color: white;
  margin: 0 10px;
  font-weight: bold;
}

.spacer {
  height: 30px;
  font-size: 14px;
  background-color: rgb(255, 205, 41);
  display: flex;
  padding-left: 17px;
  align-items: center;
  margin-bottom: 1px;
  position: sticky;
}

.insights {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "a b"
  "a c";
  grid-gap: 5px;
  margin: 0 -3.5em;

}

.insights li {
  background-size: cover;
  background-position: 50%;
  width: 100%;
  padding: 10px;
}

.insights li:nth-child(1) {
  grid-area: a;
  background-image: linear-gradient(to bottom, transparent, black), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/11/handshake-3962172_960_720-796x531.jpg);
}
.insights li:nth-child(1) h2 a{
  font-size:  40px;
}

.insights li:nth-child(2) {
  grid-area: b;
  background-image: linear-gradient(to bottom, transparent, black), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/cc_series_empty-1200x628.jpg);
}

.insights li:nth-child(3) {
  grid-area: c;
  background-image: linear-gradient(to bottom, transparent, black), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/header-image-samsungs-galaxy-watch-3-796x417.png);
}

.insights h5 a {
  color: white;
  /* font-family: ?; */
  font-size: 14px;
}

.insights h2 a {
  color: white;
  font-size: 20px;
}

.insights p a,
.insights p {
  color: rgb(255, 255, 255, 0.6);
  font-size: 12px;
}
.main-articles {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(3, 1fr);
}

.main-a-container {
  max-width: 368px;
}

/* Desktop Latest news */

  .latest-news h2 {
    margin: 20px auto;
   }  
  
  .latest-news h2 a {
    font-size: 28px;
    color: #f42;
  }

  .news-ul div {
    padding: 3% 5%;
  }
  
  .latest-news ul{
   display: flex;
   flex-wrap: wrap;  
   width: 100%;
  }

  .latest-news li {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin-right: 10px;
  }
  
   .latest-news li span{
     width:100%;
    min-height: 135px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .latest-news li:nth-child(1) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/header-image-samsungs-galaxy-watch-3-516x270.png);
  }

  .latest-news li:nth-child(2) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Screenshot-2020-05-29-at-12.00.49-412x270.png);
  }

  .latest-news li:nth-child(3) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/Untitled-design-88-516x270.png);
  }

  .latest-news li:nth-child(4) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/sale_29686_primary_image_wide-540x270.jpg);
  }

  .latest-news li:nth-child(5) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/google-photos-whatsapp-backup-516x270.jpg);
  }

  .latest-news li:nth-child(6) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-2-9-516x270.png);
  }

  .latest-news li:nth-child(7) span {
    background-image: url(https://i.ytimg.com/vi/kMpqVfnuyII/hqdefault.jpg);
  }

  .latest-news li:nth-child(8) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/data-customer-strategy-gq-516x270.png);
  }

  .latest-news li div {
    font-size: 14px;
  }

  .latest-news p,
  .latest-news p a {
    margin-top: 10px;
    color: rgb(80, 80, 80);
    font-size: 12px;
  }
  .indexCo {
    margin-top: 20px;
  }
  .indexCo h2 a {
    font-size: 28px;
    color: #f42;
  }
  .indexCo h3 {
    margin-top: 10px;
  }
  .indexCo h3 a {
    font-size: 14px;
    color: #f42;
  }
  .index-img a{
    width:60px;
    height: 60px;
    background-color: blue;
    display: block;
    position: relative;
  }
  .index-img{
    width:60px;
    height: 60px;
    background-color: blue;
    display: block;
    position: relative;
  }
  
  .indexCo ul {
    display: flex;
  }
  
  .indexCo li {
    margin: 20px 10px 20px 0;
    display: block;
  }
  .indexCo h4{
    background-color: #f42;
    color: white;
    font-size: 18px;
    padding: 10px 16px 10px 84px; 
  }
  
  .indexCo h4 img{
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    left:32px;
  
  }
  
  .indexCo div:nth-child(2){
    color: #000;
    background: rgba(255,68,34,.08);
    padding: 10px 16px 10px 84px;  
  }
  .indexCo h6{
    font-size: 11px;
    opacity: .5;
    font-weight: 500;
    letter-spacing: .04em;
    line-height: 1.5;
  }
  .indexCo div:nth-child(3){
    color: #000;
    background: #fffaf8;
    padding: 16px;
    }
  .indexCo div:nth-child(3) span{
    font-size: 13px;
    color: #555555;
    margin-left:5px;
  }
  .indexCo div:nth-child(4){
    background: #fffaf8;
   
    padding: 16px;
    border-top: 1px solid rgba(255,68,34,.25);
    }
    .indexCo div:nth-child(4) a{ 
      font-size: 13px;
      color: #555555;
    }
}



@media screen and (max-device-width: 1024px){

  nav{
    display: grid;
    grid-template-areas: "a b"
                        "a c"
                        "d d";
  grid-template-columns: repeat(auto-fit, minmax(106px, 106px));
  top: 0;
  position: sticky;
  }
  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    height: 48px;
    position: absolute;
    grid-area: a;
  }

  .black-navbar{
    grid-area: b;
        font-size: 11px;
  }
  .white-navbar{
    grid-area: c;
  }
  .spacer{
    grid-area: d;
  }
  

  .navbar-mobile a {
    width: 106px;
    height: 80px;
    background-color: #f42;
    background: linear-gradient(to bottom right, #c09, #f42 85%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-mobile img {
    display: block;
    height: 16px;
    position: relative;
    width: 66px;
  }
  .navbar-mobile ul, 
  .second {
    display: none;
  }

  .transform li{
    display: none;
  }

  .transform li:nth-child(1){
    display: block;
  }

  .indexCo ul li:last-child{
    display: none;
  }

} 
  
  @media screen and (max-device-width: 1214px){
    .white-navbar ul:first-child li:last-child {
      display:none;
    }
  }

  @media screen and (min-device-width: 1025px) { 
    nav{
    top: 0;
    position: sticky;
    }
.navbar-mobile {
  display: none;
}

    .latest-news li {
      display: flex;
      flex-wrap: wrap;
      width: 22%;
      justify-content: space-between;
    }
    
    .indexCo li:last-child{
      display: block;
    }

    .indexCo li{
      width: 24%;
    }

    .main-articles {
      display: grid;
      grid-gap: 1%;
      grid-template-columns: repeat(3, 1fr);
    }

  }

/* START OF MOBILE */
@media screen and (max-device-width: 766px) {
  .black-navbar,
  .white-navbar {
    display: none;
  }

  nav{
    display: block;
  }
  

  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    height: 48px;
    position: relative;
    background-color: white;
  }

  .navbar-mobile a {
    width: 106px;
    height: 100%;
    background-color: #f42;
    background: linear-gradient(to bottom right, #c09, #f42 85%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-mobile img {
    display: block;
    height: 16px;
    position: relative;
    width: 66px;
  }

  .navbar-mobile ul {
    width: 96px;
    display: flex;
    margin-right: 9px;
  }

  .navbar-mobile li {
    width: 50%;
    border-left: 1px solid rgba(80, 80, 80, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-mobile ul li:nth-child(1) i {
    color: rgba(80, 80, 80, 0.3);
    transform: scaleX(-1);
  }

  .navbar-mobile ul li:nth-child(2) {
    color: #f42;
    font-size: 20px;
  }

  .spacer {
    height: 60px;
    font-size: 14px;
    background-color: rgb(255, 205, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;

  }

  .fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
  }

  /* INSIGHTS */
  .insights {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-top: 106px;
  }

  .insights li {
    background-size: cover;
    background-position: 50%;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }

  .insights li:nth-child(1) {
    background-image: linear-gradient(to bottom, transparent, black), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/11/handshake-3962172_960_720-796x531.jpg);
  }

  .insights li:nth-child(2) {
    background-image: linear-gradient(to bottom, transparent, black), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/cc_series_empty-1200x628.jpg);
  }

  .insights li:nth-child(3) {
    background-image: linear-gradient(to bottom, transparent, black), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/header-image-samsungs-galaxy-watch-3-796x417.png);
  }

  .insights h5 a {
    color: white;
    /* font-family: ?; */
    font-size: 14px;
  }

  .insights h2 a {
    color: white;
    font-size: 20px;
  }

  .insights p a,
  .insights p {
    color: rgb(255, 255, 255, 0.6);
    font-size: 12px;
  }

  .cover-header {
    background-size: cover;
  }

  main {
    margin: 0 auto;
    max-width: 1192px;
    padding: 0 20px;
  }

  /* Latest news */

  .latest-news h2 a {
    font-size: 28px;
    color: #f42;
  }

  .latest-news ul {
    margin: 15px -8px -8px -8px;
  }

  .latest-news li {
    height: 88px;
    padding: 8px;
    display: flex;
  }

  .latest-news li span {
    height: 75px;
    width: 92px;
    display: block;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .latest-news li:nth-child(1) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/header-image-samsungs-galaxy-watch-3-516x270.png);
  }

  .latest-news li:nth-child(2) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Screenshot-2020-05-29-at-12.00.49-412x270.png);
  }

  .latest-news li:nth-child(3) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/Untitled-design-88-516x270.png);
  }

  .latest-news li:nth-child(4) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/sale_29686_primary_image_wide-540x270.jpg);
  }

  .latest-news li:nth-child(5) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/google-photos-whatsapp-backup-516x270.jpg);
  }

  .latest-news li:nth-child(6) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-2-9-516x270.png);
  }

  .latest-news li:nth-child(7) span {
    background-image: url(https://i.ytimg.com/vi/kMpqVfnuyII/hqdefault.jpg);
  }

  .latest-news li:nth-child(8) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/data-customer-strategy-gq-516x270.png);
  }

  .latest-news li div {
    font-size: 14px;
    margin-left: 15px;
  }

  .latest-news p,
  .latest-news p a {
    margin-top: 10px;
    color: rgb(80, 80, 80);
    font-size: 12px;
  }

  /* index Co */
  .indexCo {
    margin-top: 20px;
  }

  .indexCo h2 a {
    font-size: 28px;
    color: #f42;
  }

  .indexCo h3 {
    margin-top: 10px;
  }

  .indexCo h3 a {
    font-size: 14px;
    color: #f42;
  }

  .index-img a {
    width: 60px;
    height: 60px;
    background-color: blue;
    display: block;
    position: relative;
  }

  .index-img {
    width: 60px;
    height: 60px;
    background-color: blue;
    display: block;
    position: relative;
  }

  .indexCo li {
    margin-bottom: 20px;
    display: block;
  }

  .indexCo h4 {
    background-color: #f42;
    color: white;
    font-size: 18px;
    padding: 10px 16px 10px 84px;
  }

  .indexCo h4 img {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    left: 32px;
  }

  .indexCo div:nth-child(2) {
    color: #000;
    background: rgba(255, 68, 34, 0.08);
    padding: 10px 16px 10px 84px;
  }
  
  .indexCo h6 {
    font-size: 11px;
    opacity: 0.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
  }

  .indexCo div:nth-child(3) {
    color: #000;
    background: #fffaf8;
    padding: 16px;
  }

  .indexCo div:nth-child(3) span {
    font-size: 13px;
    color: #555555;
    margin-left: 5px;
  }

  .indexCo div:nth-child(4) {
    background: #fffaf8;
    padding: 16px;
    border-top: 1px solid rgba(255, 68, 34, 0.25);
  }

  .indexCo div:nth-child(4) a {
    font-size: 13px;
    color: #555555;
  }

  .main-a-container {
    min-width: fit-content;
  }
}


@media screen and (min-device-width: 767px) and (max-device-width: 1022px) {
  /* Medium-size */

  .latest-news h2 {
    margin: 20px auto;
   }  
  
  .latest-news h2 a {
    font-size: 28px;
    color: #f42;
  }

  .news-ul div {
    padding: 3% 5%;
  }
  
  .latest-news ul{
   display: flex;
   flex-wrap: wrap;  
   width: 100%;
  }

  .latest-news li {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin-right: 10px;
  }
  
   .latest-news li span{
     width:100%;
    min-height: 135px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .latest-news li:nth-child(1) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/header-image-samsungs-galaxy-watch-3-516x270.png);
  }

  .latest-news li:nth-child(2) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/05/Screenshot-2020-05-29-at-12.00.49-412x270.png);
  }

  .latest-news li:nth-child(3) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/Untitled-design-88-516x270.png);
  }

  .latest-news li:nth-child(4) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/sale_29686_primary_image_wide-540x270.jpg);
  }

  .latest-news li:nth-child(5) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/google-photos-whatsapp-backup-516x270.jpg);
  }

  .latest-news li:nth-child(6) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-2-9-516x270.png);
  }

  .latest-news li:nth-child(7) span {
    background-image: url(https://i.ytimg.com/vi/kMpqVfnuyII/hqdefault.jpg);
  }

  .latest-news li:nth-child(8) span {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/data-customer-strategy-gq-516x270.png);
  }

  .latest-news li div {
    font-size: 14px;
  }

  .latest-news p,
  .latest-news p a {
    margin-top: 10px;
    color: rgb(80, 80, 80);
    font-size: 12px;
  }

  .main-articles {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: repeat(2, 1fr);
  }
}


footer {
  text-align: center;
  font-size: 100%;
}

.links {
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.icons-container {
  display: flex;
  justify-content: center;
  font-size: 14px;
  flex-wrap: wrap;
  margin: 1.5em auto;

}

.social-container {
  display: flex;
  justify-content: center;
  font-size: 14px;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
}

.icons-container li {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: #333333;
  margin: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-container li:hover {
  background: transparent;
  border: 3px solid #333333;
}

.icons-container i {
  color: white;
  font-size: 20px;
}

.links li a {
  list-style-type: none;
  color: #aaa;
  text-decoration: none;
}

.social-container li {
  margin: 10px 6px;
  font-size: 13px;
}

.social-container a:hover {
  color: white;
}

.footer-text {
  color: #aaa;
  background-color: #000000;
  padding: 3rem;
}

.footer-img {
  width: 3em;
}

